/* General */

.cordata
{
	font-family: PxPlus_Cordata_PPC-400;
	font-size: 16px;
}

.toshibasat
{
	font-family: PxPlus_ToshibaSat_9x16;
	font-size: 16px;
}

/* Chatbox */

chatbox
{
	position: absolute;
	bottom: 200px;
	left: 100px;
	z-index: 100;
	flex-direction: column;
	width: 500px;
	height: 32px;

	textentry
	{
		opacity: 0;
		color: white;
		padding: 16px 8px;
		background-color: black;
		border-image: url(ui/border.png) 16 / 16px fill;
		flex-shrink: 0;
		flex-grow: 0;
		width: 100%;
		min-height: 16px;
	}

	.chat_canvas
	{
		flex-direction: column;
		align-items: flex-start;
	}

	&.open
	{
		textentry
		{
			opacity: 1;
		}
	}
}

chatentry
{
	background-color: #000;
	//margin-bottom: 5px;
	color: white;
	//transition: all 0.1s ease-out;
	opacity: 1;
	max-height: 200px;
	flex-shrink: 0;
	flex-grow: 0;
	//padding: 12px;
	//padding-left: 45px;
	min-height: 16px;
	max-width: 100%;
	//transform: scale( 1 );

	&:intro
	{
		max-height: 0px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		opacity: 0;
		transform: scale( 0 );
	}

	&:outro
	{
		opacity: 0;
		//transition: all 2s ease-out;
	}

	/*image
	{
		width: 32px;
		height: 32px;
		min-height: 32px;
		border-radius: 100px;
		position: absolute;
		left: 6px;
		top: 6px;
	}*/
	
	.timestamp
	{
		color: #0ff;
		background-color: #005;
	}

	.name
	{
		//padding-right: 20px;
		//font-weight: 600;
		color: #0f0;
		background-color: #005;
		//	background-color: green;
		flex-shrink: 0;
		padding-left: 8px;
	}

	.message
	{
		color: #ccc;
		//	background-color: red;
		flex-grow: 1;
		padding-left: 8px;
	}

	&.noname .name
	{
		display: none;
	}

	&.noavatar image
	{
		display: none;
	}
}