/* General */

.cordata
{
	font-family: PxPlus_Cordata_PPC-400;
	font-size: 16px;
}

.toshibasat
{
	font-family: PxPlus_ToshibaSat_9x16;
	font-size: 16px;
}

/* Etc */
RootPanel
{
	pointer-events: visible;
	background-color: rgba(0,0,0,0);
}
		
/* UI toolkit */

.big-button
{
	//padding: 8px 4px;
	background-color: black;
	color: white;
	border-image: url(ui/border.png) 16 / 16px;
	
	&:hover
	{
		background-color: #555;
		color: white;
	}

	&:active
	{
		background-color: white;
		color: black;
		border-image: url(ui/borderinv.png) 16 / 16px;
	}
}

.button
{
	background-color: black;
	color: white;
	
	&:hover
	{
		background-color: #555;
		color: white;
	}

	&:active
	{
		background-color: white;
		color: black;
	}
}

/* WindowsField */
WindowsField
{
	z-index: 50;
	//background-color: white;
	width: 100%;
	height: 100%;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	
	.window
	{
		position: absolute;
		flex-direction: column;
		left: 0;
		top: 0;
		width: 256px;
		height: 256px;
		background-color: black;
		color: white;
		pointer-events: all;
		flex-grow: 0;
		flex-shrink: 0;
		
		/* inner part of the window */
		
		.header
		{
			width: 100%;
			height: 16px;
			flex-direction: row;
			align-items: stretch;
			flex-shrink: 0;
			flex-grow: 0;
			background-color: #555;
			
			.title
			{
				//color: white;
				flex-shrink: 0;
				flex-grow: 0;
				flex-grow: 1;
			}
			
			.buttons
			{
				flex-direction: row;
				align-items: stretch;
				
				.close
				{
					color: white;
					width: 24px;
					background-color: #a00;
					
					&:hover
					{
						background-color: #f55;
					}
					
					&:active
					{
						background-color: #500;
					}
				}
			}
		}
		
		.inner
		{
			width: 100%;
			flex-grow: 1;
		}
	}
	
	CodeWindow
	{
		width: 384px;
		height: 256px;
		
		.inner
		{
			flex-direction: row;
		
			.code
			{
				height: 100%;
				flex-grow: 1;
			}
		
			.sidepanel
			{
				flex-direction: column;
			}
		}
	}
}

/* Chatbox */

chatbox
{
	position: absolute;
	bottom: 200px;
	left: 100px;
	z-index: 100;
	flex-direction: column;
	width: 512px;
	max-height: 64px;

	textentry
	{
		opacity: 0;
		color: white;
		padding: 16px 8px; // TODO: fix it
		background-color: black;
		border-image: url(ui/border.png) 16 / 16px fill;
		flex-shrink: 0;
		flex-grow: 0;
		width: 100%;
		min-height: 16px;
	}

	.chat_canvas
	{
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		flex-wrap: no-wrap;
		opacity: 1;
	}
	
	.hidden
	{
		opacity: 0;
	}

	&.open
	{
		textentry
		{
			opacity: 1;
		}
		.chat_canvas
		{
			opacity: 1;
		}
	}
}

chatentry
{
	background-color: #000;
	color: white;
	min-height: 16px;
	//max-height: 64px; // 4 lines
	overflow: hidden;
	width: 100%;
	flex-shrink: 0;
	//flex-grow: 0;
	//flex-wrap: wrap;
	//flex-direction: row;
	
	.timestamp
	{
		color: #0ff;
		background-color: #005;
		flex-shrink: 0;
	}

	.name
	{
		color: #0f0;
		background-color: #005;
		flex-shrink: 1;
		//padding-left: 8px;
	}

	.message
	{
		color: #ccc;
		background-color: #000;
		flex-wrap: wrap;
		padding-left: 8px;
		flex-grow: 1;
		min-height: 16px;
	}

	&.noname .name
	{
		display: none;
	}
	
	&.noname .message
	{
		padding-left: 0;
	}
}